body{
	background: #fff;
}
table{
	border-collapse: collapse;
	margin: 10px auto;
	padding: 3px;
	border: 11px solid white;
}

tr{
	height: 100px;
	border: 1px solid black;
}
td{
	border: 10px solid black;
	width: 100px;
	
}

.yellow{
	background: yellow;

}
.red {
	background: red;
}
.black{
	background: black;
}
.blue{
	background: blue;
}

